mj-section(padding="40px 30px" background-color="#ffffff")
    mj-column(width="100%")
        mj-text(padding="20px 0" mj-class="T cT") Chers Anciens Apprenants & membres de la communauté Sup-Véto
        mj-text(padding="0" mj-class="T cT") #[span(style="font-weight:700") Sup-Véto] a eu connaissance de l'existence toute récente d'une nouvelle association d'ASV, par des ASV et pour les ASV.
        mj-text(padding="0" mj-class="T cT") Cette association "#[span(style="font-weight:700") UNASV]" #[span(style="font-style:italic") (Union Nationale des ASV)] a pour but de défendre les intérêts des ASV dans le cadre de leur travail, de leur reconnaissance.
        mj-text(padding="0" mj-class="T cT") Notre politique a toujours été de pouvoir vous aider, vous accompagner au travers de votre formation, mais aussi de valoriser nos diplomé.es, votre parcours et votre professionnalisme.
        mj-text(padding="15px 0" mj-class="T1 cT") C'est pourquoi, {{ contact.PRENOM }}, nous vous invitons à adhérer à cette association.
        mj-text(padding="0" mj-class="T cT") Plus nombreux vous serez, plus important sera le poids de cette association, qui permettra éventuellement de faire bouger les lignes, et que le travail que vous effectuez au quotidien soit enfin reconnu réellement considéré et rémunéré, et cela sans discrimination de provenance entre le Gipsa et Sup-Véto.
        mj-text(padding="15px 0" mj-class="T cT") Chacun de vous faites partie d'une communauté engagée, professionnelle et lucide sur la réalité du métier.
        mj-text(padding="0px" mj-class="T cT") Votre participation nous paraît essentielle pour construire une représentation nationale forte, plurielle et réellement représentative de tous les ASV.
        mj-text(padding="15px 0px" padding-bottom="0px" mj-class="T cT") Pour adhérer, voici le lien à suivre : 
        mj-text(padding="0" mj-class="T cT") #[a(style="color:#212121;font-weight:700;" href="https://unasv.com/adherer/" target="_blank") Adhérer à l'UNASV]
        mj-spacer(height="30px")
    mj-column(width="40%")
    mj-column(width="60%")
        mj-text(padding="0" mj-class="T cT") Cordialement
        mj-text(padding="0" mj-class="T cT") Sup-Véto