mj-section(padding="0" background-color="#098855")
        mj-column
            mj-image(padding="0" fluid-on-mobile="true" width="480px" src="images/supveto01.png")/
        mj-column
            mj-image(padding="0" fluid-on-mobile="true" width="480px" src="images/supveto02.png")/