mj-section(padding="0" background-color="#098855")
        mj-column
            mj-image(padding="0" fluid-on-mobile="true" width="480px" src="https://i.ibb.co/dwHDZggp/supveto015.png")/
        mj-column
            mj-image(padding="0" fluid-on-mobile="true" width="480px" src="https://i.ibb.co/ZRSBjZ6P/supveto025.png")/