mj-section(padding="0" background-color="#098855")
    mj-column
        mj-image(padding="0" width="200px" src="https://i.ibb.co/j9R6yWzM/Log-Sup-Veto-Blanc-1.png")
    mj-column
        mj-text texte