mjml
    //- Head
    mj-head
        mj-title association Auxiliaire Spécialisé Vétérinaire - One
        mj-raw.
            <meta charset="UTF-8">
            <meta name='color-scheme' content='light'/>
            <meta name='supported-color-schemes' content='light'/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-all(font-family='Arial, Helvetica, sans-serif')/
        mj-breakpoint(width="480px")
    //- Body
    mj-body(background-color='#f5f4f1' width="640px")
        //- content
        block content
        //- bloc header
        block header
            include ../includes/_header
        //- bloc core
        block core
            include ../includes/_core
        //- bloc footer
        block footer
            include ../includes/_footer